.container{
    display: grid;
    grid-template: 100px 1fr / 200px 1fr;


    grid-template-areas: "header header"
                         "menu-section peliculas-section";
}

.header{
    display: grid;
    grid-template-columns: 25% 1fr 25%; 
    grid-template-areas: "logo search user";


    /*grid area general*/
    grid-area: header;
}

.menu-section{
    grid-area: menu-section;
}

.peliculas-section{
    grid-area: peliculas-section;
}

